<div class="card-top ">
    <div class="container d-flex">
        <div class="item">
            <a>
                <h3>Desktop</h3>
            </a>



        </div>
        <div class="item">
            <a>
                <h3>Destop</h3>
            </a>
        </div>
        <div class="item">
            <a>
                <h3>Destop</h3>
            </a>
        </div>
        <div class="item">
            <a>
                <h3>Destop</h3>
            </a>
        </div>
        <div class="item">
            <a>
                <h3>Destop</h3>
            </a>
        </div>
    </div>
</div>