.card-top {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgb(214, 210, 210);
    border-right-style: none;
    border-left-style: none;
    border-top-style: none;
    margin: 1%;
}

.item {
    margin: 0px 15px;
    text-align: center;
}

.item a:hover {
    color: tomato;
    cursor: pointer;
}

.item h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}