<footer>
    <div class="container">
        <div class="main-footer">

            <div class="footer-block contact-us">
                <h4>Support</h4>

                <a href="#" class="helpline-btn footer-big-btn">
                    <div class="ic"><i class="material-icons">phone</i></div>
                    <p>9AM - 8PM</p>
                    <h5>09678002003</h5>
                </a>

                <a href="#" class="store-locator-btn footer-big-btn">
                    <div class="ic"><i class="material-icons">place</i></div>
                    <p>Store Locator</p>
                    <h5>Find Our Stores</h5>
                </a>
            </div>

            <div class="footer-block about-us">
                <h4>About Us</h4>
                <ul>
                    <li><a href="#">EMI Terms</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Online Delivery</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms and Conditions</a></li>
                    <li><a href="#">Refund and Return Policy</a></li>
                    <li><a href="#">Star Point Policy</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Brands</a></li>
                    <li><a href="#" style="color: #EF4A23" target="_blank" rel="noopener">Online Service Support</a></li>
                    <li><a href="#" style="color: #EF4A23" target="_blank" rel="noopener">Complain / Advice</a></li>
                </ul>
            </div>
            <div class="footer-block org-info">
                <h4>Stay Connected</h4>
                <p><b class="store-name">Aits Idea Ltd</b></p>
                <p><b>Email:</b><br><a href="#">aits@.com</a> </p>

                <p class="social-links">
                    <a href="#">
                        <span class="icon-sprite fb" style="color:white ;"><mat-icon>facebook</mat-icon></span>
                    </a>

                </p>

            </div>
        </div>
        <div class="row sub-footer">
            <div class="col-md-6 copyright-info">
                <p>© 2022 Md Saiful Islam | All rights reserved </p>
            </div>
            <div class="col-md-6 powered-by">
                <p>Powered By: AITS IDEA LTD</p>
            </div>
        </div>
    </div>
</footer>
