.ht-item.search {
    padding: 5px 0;
    position: relative;
    margin-left: 1%;
    margin-right: 1%;
}

.ht-item {
    flex: 1 1 auto;
}

header .search input {
    border: none;
    padding: 0 40px 0 20px;
    font-weight: normal;
    border-radius: 4px;
    margin-bottom: 0;
}

input,
select,
textarea {
    font-size: 15px;
    height: 45px;
    padding: 5px 15px;
    background: #fff;
    outline: none;
    width: 550px;
    font-family: "Trebuchet MS", sans-serif;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.ht-item.search button {
    position: absolute;
    right: 7px;
    top: 14px;
    border: none;
    background: none;
}

.material-icons {
    height: 24px;
    width: 24px;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga';
}

button {
    cursor: pointer;
}

.nav-item a {
    color: aliceblue;
}

.offer-hover {
    color: gray;
}

.offer-hover:hover {
    color: orange;
}

.text1 {
    font-size: 13px;
    color: #949090;
}

.info {
    line-height: 40px;
}

.cursor {
    cursor: pointer;
}

.ht-item.q-actions {
    flex: 0 0 550px;
    padding: 9px 0 0 10px;
}

.q-actions .ac {
    float: left;
    display: flex;
    padding-left: 18px;
    text-decoration: none;
}

.q-actions .ac .ic i {
    color: #ef4a23;
    font-size: 24px;
    width: 30px;
    height: 36px;
    line-height: 36px;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    background-color: transparent;
    color: #ef4a23;
}

.q-actions .ac h5 {
    margin: 0;
    font-weight: normal;
    font-size: 15px;
    text-decoration: none;
}

.q-actions .ac * {
    color: #fff;
    text-decoration: none;
}

h5 {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
}

.q-actions .ac p {
    font-size: 11px;
    line-height: 16px;
    margin: 0;
    white-space: nowrap;
    color: rgba(255, 255, 255, .5);
}
