.card {
    border: none;
    outline: none;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px 10px rgb(242, 242, 242);
    margin: 0 0 15px 5px;
}

.card:hover {
    transform: scale(1.002);
    transition: transform.3s;
    box-shadow: 0 0 10px 10px rgb(236, 235, 235);
}

.text1 {
    font-size: 13px;
    color: #949090;
}

.info {
    line-height: 40px;
}

.price span {
    color: rgb(255, 128, 0);
    font-weight: bold;
    font-size: 20px;
}

.button-color {
    background-color: rgb(227, 227, 255);
    color: rgb(1, 1, 175);
}

.button-color:hover {
    background-color: rgba(0, 51, 255, 0.713);
    color: #fff;
}

.cursor {
    cursor: pointer;
}

.container {
    padding-bottom: 50px;
}

.btn-plus-minus {
    background-color: rgb(255, 253, 253);
    border-radius: 30%;
    font-size: 16px;
    color: rgb(0, 0, 0);
    margin: 0 12px;
    border: 1px solid #ced5ff;
}

.btn-plus-minus:hover {
    background-color: rgba(0, 51, 255, 0.713);
    color: #fff;
}

.content span {
    font-weight: 500;
    font-size: 18px;
    color: rgb(49, 49, 49);
}

.card img {
    width: fit-content;
}
