<!--card demo making-->
<div class="container">
    <section class="product">
        <div>
            <br>
            <!--container for all card-->
            <div class="container mb-5 mt5">
                <div class="row">
                    <!--card-->
                    <div class="col-md-3" *ngFor="let prod of productArray">
                        <div class="card mt-3 ">
                            <div class="product-1 align-items-center p-2 text-center">
                                <img class="responsive" src="{{prod.img}}" alt="p1" class="rounded" width="190" height="220">
                                <h2>{{prod.productTitle}}</h2>
                                <!--card info-->
                                <div class="t-3 info">
                                    <span class="text1 d-block">{{prod.details}}</span>
                                    <!--    <span class="text1 ">pc pc pc</span> -->


                                </div>
                                <!--plus-minus-->
                                <div class="content">
                                    <button type="button" class="btn btn-plus-minus" (click)="inc(prod)"><i class="fa fa-plus"></i></button>
                                    <span>{{prod.qnt}}</span>
                                    <button type="button" class="btn btn-plus-minus" (click)="dec(prod)"><i class="fa fa-minus"></i></button>
                                </div>
                                <!--plus-minus end-->

                                <div class="price mt-3 text-dark">
                                    <span>{{prod.amt}}<b>৳</b></span>


                                </div>



                            </div>
                            <!--button-->
                            <button type="button" class="p-3 btn text-center button-color text-blue mt-3 cursor">
                              <span class="buy-now-btn-icon"><mat-icon>add_shopping_cart</mat-icon></span>
                        <span class="text-center buy-now"><strong>Buy Now</strong></span>
                    </button>



                        </div>
                    </div>
                    <!--card end-->





                </div>

            </div>
        </div>
    </section>
</div>
