<div class="container ac-layout">
    <div class="panel m-auto">
        <div class="p-head">
            <h2>Forgot Your Password?</h2>
        </div>
        <div class="p-body">
            <form method="post">
                <div class="form-group required">
                    <label for="input-username">Enter Your Phone / E-Mail</label>
                    <input type="text" name="username" value="" placeholder="Enter Your Phone / E-Mail" id="input-username" class="form-control">
                </div>
                <button type="submit" class="btn" routerLink="/logIn">Continue</button>
            </form>
        </div>
    </div>
</div>